<header class="site-header">
  <nav class="nav">
    <a class="brand" href="/">
      <img class="brand-mark" src="/images/brand-mark.svg" alt="" width="28" height="28">
      {{ site.name }}
    </a>
    <button class="nav-toggle" aria-label="Toggle menu" aria-expanded="false">
      <span></span>
    </button>
    <ul class="nav-links">
      <li><a href="/">Home</a></li>
      <li><a href="/farm-profit-calculator/">Calculator</a></li>
      <li><a href="/ebooks/">eBooks</a></li>
      <li><a href="/blog/">Blog</a></li>
      <li><a href="/about/">About</a></li>
      <li><a href="/contact/">Contact</a></li>
    </ul>
    {% include "partials/language-switcher.njk" %}
  </nav>
</header>
